<div class="row middle-xs bg-panel">
    <div class="col-xs-12 col-sm-8 center-block">
        <div class="box-panel">
			<div class="row">
				<div class="col-md-8 fields-panel">
					<h3 class="box-title">Cambie su contraseña</h3>
					
                          	<div class="alert alert-danger alert-one-check" *ngIf="resetPasswordForm.errors && submitted">
                          		<i class="fa fa-times" aria-hidden="true"></i>
                          		<span>No se puede actualizar tu contraseña, por favor revisa el formulario</span>
                          	</div>
                          	
					<form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm(resetPasswordForm.valid)" novalidate>

						<div class="form-group" [ngClass]="{ 
						'has-error': resetPasswordForm.get('password').errors 
							&& (resetPasswordForm.get('password').dirty || submitted)}">
							<label class="control-label">Ingrese su nueva contraseña</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-unlock-alt" aria-hidden="true"></i>
								</span>
								<input
									type="password"
									class="form-control input-lg"
									id="inputEmail"
									placeholder="Contraseña"
									formControlName="password">
							</div>
							<div class="text-danger small" *ngIf="resetPasswordForm.get('password').errors 
								&& resetPasswordForm.get('password').errors['required']
								&& (resetPasswordForm.get('password').dirty || submitted)">
									<i class="fa fa-times" aria-hidden="true"></i>
									<span>Este campo es obligatorio</span> 
							</div>
						</div>
						
						<div class="form-group" [ngClass]="{ 'has-error': resetPasswordForm.get('confirmPassword').errors && (resetPasswordForm.get('confirmPassword').dirty || submitted)}">
							<label class="control-label">Confirme su nueva contraseña</label>
							<div class="input-group">
								<span class="input-group-addon">
									<i class="fa fa-unlock-alt" aria-hidden="true"></i>
								</span>
								<input
									type="password"
									class="form-control input-lg"
									id="inputEmail"
									placeholder="Confirme contraseña"
									formControlName="confirmPassword">
							</div>
							<div class="text-danger small" *ngIf="resetPasswordForm.get('confirmPassword').errors 
								&& resetPasswordForm.get('confirmPassword').errors['required']
								&& (resetPasswordForm.get('confirmPassword').dirty || submitted)">
									<i class="fa fa-times" aria-hidden="true"></i>
									<span>Este campo es obligatorio</span> 
							</div>
						</div>
						
						<div class="text-danger small" *ngIf="resetPasswordForm.errors && 
							(resetPasswordForm.get('password').dirty 
								&& resetPasswordForm.get('confirmPassword').dirty 
								|| submitted)">
								<i class="fa fa-times" aria-hidden="true"></i>
								<span *ngIf="resetPasswordForm.errors['passwordsMatch']">La contraseñas ingresadas no son iguales</span> 
						</div>
						
						<button type="submit" [disabled]="requestInProgress" class="btn btn-primary btn-lg btn-block">
							<i class="fa fa-sign-in" aria-hidden="true"></i> Actualizar Contraseña
						</button>
						<beitech-loading *ngIf="requestInProgress" size="XS"></beitech-loading>
					</form>


				</div>
				<div class="col-md-4 info-panel">
					<div class="item-info">
						<p>¿Aún no tiene una cuenta?</p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>



