<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Tenis de mesa</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" *ngIf="user !== null">
      <ul class="nav navbar-nav">
        <li class="dropdown" *ngIf="user.tipo=== userTypes.ADMIN.value">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar Usuarios<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/admin/CrearUsuario">Crear Usuario</a></li>
            <li><a routerLink="/admin/ConsultarUsuarios">Colsultar Usuarios</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar Torneos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="user.tipo === userTypes.ADMIN.value"><a routerLink="/admin/CrearTorneo">Crear Torneo</a></li>
            <li><a routerLink="/admin/ConsultarTorneos">Colsultar Torneos</a></li>
          </ul>
        </li>
        <li><a routerLink="#">Cerrar Sesion</a></li>
      </ul>
    </div>
  </div>

</nav>
