<div>Torneos</div><br>
<div>
  <table class="table table-hover table-bordered">
    <thead class="table-title">
    <tr>
      <td>Id Torneo</td>
      <td>Nombre</td>
      <td>Cantidad de Jugadores</td>
      <td>Estructura</td>
      <td></td>
    </tr>
    </thead>
    <tbody *ngIf="tournaments" class="table-">
    <tr *ngFor="let tournament of tournaments">
      <td>{{tournament.idTorneo}}</td>
      <td>{{tournament.nombre}}</td>
      <td>{{tournament.cantidadJugadores}}</td>
      <td>{{tournament.estructura.nombre}}</td>
      <td>
        <button class="btn-sm bg-info"><a [routerLink]="['/admin/ConsultarTorneo/',tournament.idTorneo]">Consultar</a></button>
        <button class="btn-sm bg-danger"><a [routerLink]="['/admin/EditarTorneo/',tournament.idTorneo]">Editar</a></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
