

<div align="left">
  <h1>Crear Usuario</h1>
  <input type="radio" name="tipo" value="3" required="required"> Administrador
  <input type="radio" name="tipo" value="1" required="required"> Jugador
  <input type="radio" name="tipo" value="2" required="required"> Arbitro<br>
  <input type="text" name="nombreUsuario" required="required" placeholder="Nombre de Usuario"> Nombre de Usuario<br>
  <input type="text" name="clave" required="required" placeholder="Clave"> Clave<br>
  <input type="text" name="nombre" required="required" placeholder="Nombre"> Nombre<br>
  <input type="text" name="apellido" required="required" placeholder="Apellido"> Apellido<br>
  <input type="number" name="cedula" required="required" placeholder="Cedula"> Cedula<br>
  <input type="number" name="telefono" required="required" placeholder="Telefono"> Telefono<br>
  <input type="date" name="fechaNacimiento" required="required" placeholder="Fecha de Nacimiento"> Fecha de Nacimiento<br>
</div>

