<div align="left" class="group">
  <h1>Crear Usuario</h1>
  <div class="input-group">
    <input type="radio" name="tipo" value="3" required="required"> Administrador
    <input type="radio" name="tipo" value="1" required="required"> Jugador
    <input type="radio" name="tipo" value="2" required="required"> Arbitro<br>
  </div>
  Nombre de Usuario: <input type="text" name="nombreUsuario" required="required" placeholder="Nombre de Usuario"> <br>
  Clave: <input type="text" name="clave" required="required" placeholder="Clave"><br>
  Nombre: <input type="text" name="nombre" required="required" placeholder="Nombre"><br>
  Apellido: <input type="text" name="apellido" required="required" placeholder="Apellido"> <br>
  Cedula: <input type="number" name="cedula" required="required" placeholder="Cedula"> <br>
  Telefono: <input type="number" name="telefono" required="required" placeholder="Telefono"> <br>
  Fecha de Nacimiento: <input type="date" name="fechaNacimiento" required="required" placeholder="Fecha de Nacimiento"> <br><br>
  <button class="btn-lg">Crear</button>
</div>

