<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-sm-12 col-md-10">
      <div class="row middle-xs">
        <div class="col-xs-12">
          <div class="inside-box-panel">
            <div class="row">
              <div class="col-md-12 fields-panel col-sm-12">
                <h3 class="box-title">Crear Torneo</h3>
                <form [formGroup]="setPlayersForm" (ngSubmit)="submitSetPlayersForm(setPlayersForm.value, setPlayersForm.valid)" novalidate>
                  <div id="panelJugadores" *ngIf="!hasPlayersSelected">
                    <!-- jugadores -->
                    <div class="form-group">
                      <div class="row middle-xs">
                        <div class="col-md-6">
                          <label class="control-label">Jugadores</label>
                        </div>
                        <div class="col-md-6">
                          <label class="control-label">Jugadores seleccionados</label>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <bs-sortable
                            [(ngModel)]="players"
                            [ngModelOptions]="{standalone: true}"
                            fieldName="nombre"
                            itemClass="sortable-item"
                            itemActiveClass="sortable-item-active"
                            placeholderItem="Arrastre aquí"
                            placeholderClass="sortable-item"
                            wrapperClass="sortable-wrapper"
                          ></bs-sortable>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <bs-sortable
                            [(ngModel)]="playersSelected"
                            [ngModelOptions]="{standalone: true}"
                            fieldName="nombre"
                            itemClass="sortable-item"
                            itemActiveClass="sortable-item-active"
                            placeholderItem="Arrastre aquí"
                            placeholderClass="sortable-item"
                            wrapperClass="sortable-wrapper"
                          ></bs-sortable>
                        </div>
                      </div>
                    </div>
                    <button
                      type="button"
                      id="confirmarJugadores"
                      (click)="confirmPlayers()"
                      class="btn btn-success">Confirmar jugadores</button>
                  </div>

                  <div id="panelArbitros" *ngIf="hasPlayersSelected">
                    <!-- jugadores -->
                    <div class="form-group">
                      <div class="row middle-xs">
                        <div class="col-md-6">
                          <label class="control-label">Arbitros</label>
                        </div>
                        <div class="col-md-6">
                          <label class="control-label">Arbitros seleccionados</label>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <bs-sortable
                            [(ngModel)]="referees"
                            [ngModelOptions]="{standalone: true}"
                            fieldName="nombre"
                            itemClass="sortable-item"
                            itemActiveClass="sortable-item-active"
                            placeholderItem="Arrastre aquí"
                            placeholderClass="sortable-item"
                            wrapperClass="sortable-wrapper"
                          ></bs-sortable>
                        </div>
                        <div class="col-xs-6 col-md-6">
                          <bs-sortable
                            [(ngModel)]="refereesSelected"
                            [ngModelOptions]="{standalone: true}"
                            fieldName="nombre"
                            itemClass="sortable-item"
                            itemActiveClass="sortable-item-active"
                            placeholderItem="Arrastre aquí"
                            placeholderClass="sortable-item"
                            wrapperClass="sortable-wrapper"
                          ></bs-sortable>
                        </div>
                      </div>
                      <button
                        type="button"
                        id="confirmarArbitros"
                        (click)="confirmReferees()"
                        class="btn btn-success">Confirmar Arbitros</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
