<div id = menu align="left">
  <ul class="nav">
    <li><a href="">Inicio</a></li>
    <li><a href="">Administrar Usuarios</a>
      <ul>
        <li><a routerLink="/CrearUsuario">Crear Usuario</a></li>
        <li><a routerLink="/ConsultarUsuarios">Colsultar Usuarios</a></li>
      </ul>
    </li>
    <li><a href="">Administrar Torneos</a>
      <ul>
        <li><a href="">Crear Torneo</a></li>
        <li><a href="">Editar Torneo</a></li>
        <li><a href="">Colsultar Torneo</a></li>
      </ul>
    </li>
    <li><a href="">Cerrar Sesion</a></li>
  </ul>
</div>
