<div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm(loginForm.value, loginForm.valid)" novalidate>
      <input type="text" name="nombreUsuario" required="required" placeholder="Nombre de Usuario" formControlName="clave"><br>
      <input type="password" name="clave" required="required" placeholder="Contraseña" formControlName="clave"><br>
      <input type="radio" name="tipo" value="3"> Administrador
      <input type="radio" name="tipo" value="1"> Jugador
      <input type="radio" name="tipo" value="2"> Arbitro<br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar Sesion</button>
    </form>
</div>

