<div class="row middle-xs bg-panel">
    <div class="col-xs-12 col-sm-8 center-block">
        <div class="box-panel">
			<div class="row">
				<div class="col-md-8 fields-panel">
					<h3 class="box-title">Olvidó su contraseña</h3>

                     	<div *ngIf="emailSent.success" class="alert alert-success alert-one-check">
                     		<i class="fa fa-envelope" aria-hidden="true"></i> 
                     		<span> Se ha enviado un email a <strong>{{emailSent.success}}</strong>, por favor revisa tu buzón.</span>
                     	</div>
                     	
                     	<div *ngIf="emailSent.error" class="alert alert-danger alert-one-check">
                     		<i class="fa fa-envelope" aria-hidden="true"></i> 
                     		<span> Ocurrió un error atendiendo tu solicitud, por favor intenta más tarde.</span>
                     	</div>
                          	
                        <div>
							<form *ngIf="!(emailSent.success || emailSent.error)" [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword(forgotPasswordForm.valid)" novalidate>
							
								<div *ngIf="expiredToken" class="alert alert-danger alert-one-check">
		                     		<i class="fa fa-error" aria-hidden="true"></i> 
		                     		<span> <strong>El link utilizado ha expirado</strong>, puedes solicitar un nuevo link para cambiar tu contraseña.</span>
								</div>
								<!-- Email Component -->
								<div class="form-group" [ngClass]="{ 'has-error': forgotPasswordForm.get('email').errors && (forgotPasswordForm.get('email').dirty || submitted)}">
									<label class="control-label">Ingrese su email</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-envelope" aria-hidden="true"></i>
										</span>
										<input
											type="email"
											class="form-control input-lg"
											id="inputEmail"
											placeholder="email"
											formControlName="email"
											[disabled]="requestInProgress">
									</div>
									<div class="text-danger small" *ngIf="forgotPasswordForm.get('email').errors && (forgotPasswordForm.get('email').dirty || submitted)">
											<i class="fa fa-times" aria-hidden="true"></i>
											<span *ngIf="forgotPasswordForm.get('email').errors['required']">Este campo es obligatorio</span> 
											<span *ngIf="!forgotPasswordForm.get('email').errors['required']">El email debe tener un formato correcto</span>
									</div>
								</div>
								
								<button type="submit" [disabled]="requestInProgress" class="btn btn-primary btn-lg btn-block">
			                        <i *ngIf="!requestInProgress" class="fa fa-envelope" aria-hidden="true"></i> 
			                         Enviar correo
			                    </button>
			                    <beitech-loading *ngIf="requestInProgress" size="XS"></beitech-loading>
							</form>
						</div>
					

				</div>
				<div class="col-md-4 info-panel">
					<h3 class="box-title">&nbsp;</h3>
					<div class="item-info">
						<p>¿Aún no tiene una cuenta?</p>
						<p><a [routerLink]="['/auth/registration']">Cree su cuenta aquí</a></p>
					</div>
					<div class="item-info">
						<p>¿Ya tienes una cuenta?</p>
						<p><a [routerLink]="['/auth/login']">Ingrese con su contraseña aquí</a></p>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>



