<div align="center">
  <h1>Crear Torneo</h1>
  <div>
    <h3>Torneo</h3>
    Nombre Torneo: <input type="text" name="nombreTorneo" required="required" placeholder="Nombre Torneo"> <br>
    Numero de mesas: <input type="text" name="numeroMesas" required="required" placeholder="Numero de mesas"><br>
    Numero de jugadores: <input type="text" name="numeroJugadores" required="required" placeholder="Numero de jugadores"><br>
  </div>
  <div>
    <h3>Estructura</h3>
    Estructura: <input type="text" name="tipoModalidad" required="required" placeholder="Estructura"><br>
  </div><br>
  <button class="btn-lg">Crear</button>
</div>
