<div align="center">
  <h1>Crear Torneo</h1>
  <div>
    <h3>Torneo</h3>
    Nombre Torneo: <input type="text" name="nombreTorneo" required="required" placeholder="Nombre Torneo"> <br>
    Numero de mesas: <input type="text" name="numeroMesas" required="required" placeholder="Numero de mesas"><br>
    Numero de jugadores: <input type="text" name="numeroJugadores" required="required" placeholder="Numero de jugadores"><br>
  </div>
  <div>
    <input value="1" type="hidden">
    <!--<h3>Estructura</h3>
    <select name="estructura" id="estructura">
      <option value="">&#45;&#45;</option>
      <option value="1">Arbol</option>
      <option value="2">Cuadros</option>
    </select><br>-->
  </div><br>
  <button class="btn-lg"><a routerLink="/admin/DefinirJugadores">Crear</a></button>
</div>
