<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-2 col-sm-12 col-md-10">
      <div class="row middle-xs">
        <div class="col-xs-12">
          <div class="inside-box-panel">
            <div class="row">
              <div class="col-md-12 fields-panel col-sm-12">
                <h3 class="box-title">Crear Torneo</h3>
                <p></p>
                <form [formGroup]="createTournamentForm" (ngSubmit)="submitCreateTournamentForm(createTournamentForm.value, createTournamentForm.valid)" novalidate>
                  <!-- nombre Control -->
                  <div class="form-group" [ngClass]="{ 'has-error': createTournamentForm.get('nombre').errors && (createTournamentForm.get('nombre').dirty  || submitted)}">
                    <div class="row middle-xs">
                      <div class="col-xs-12 col-sm-2">
                        <label class="control-label">Nombre</label>
                      </div>
                      <div class="col-xs-12 row-flat col-sm-10">
                        <div class="row row-flat middle-xs">
                          <div class="col-xs-9 col-sm-10">
                            <input
                              type="text"
                              class="form-control input-lg"
                              id="inputnombre"
                              placeholder="Nombre"
                              formControlName="nombre">
                            <div class="text-danger small" *ngIf="createTournamentForm.get('nombre').errors && (createTournamentForm.get('nombre').dirty  || submitted)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                              <span *ngIf="createTournamentForm.get('nombre').errors['required']">Este campo es obligatorio</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- cantidadMesas Control -->
                  <div class="form-group" [ngClass]="{ 'has-error': createTournamentForm.get('cantidadMesas').errors && (createTournamentForm.get('cantidadMesas').dirty  || submitted)}">
                    <div class="row middle-xs">
                      <div class="col-xs-12 col-sm-2">
                        <label class="control-label">Numero de mesas</label>
                      </div>
                      <div class="col-xs-12 row-flat col-sm-10">
                        <div class="row row-flat middle-xs">
                          <div class="col-xs-9 col-sm-10">
                            <input
                              type="text"
                              class="form-control input-lg"
                              id="inputcantidadMesas"
                              placeholder="Numero de mesas"
                              formControlName="cantidadMesas">
                            <div class="text-danger small" *ngIf="createTournamentForm.get('cantidadMesas').errors && (createTournamentForm.get('cantidadMesas').dirty  || submitted)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                              <span *ngIf="createTournamentForm.get('cantidadMesas').errors['required']">Este campo es obligatorio</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- cantidadJugadores Control -->
                  <div class="form-group" [ngClass]="{ 'has-error': createTournamentForm.get('cantidadJugadores').errors && (createTournamentForm.get('cantidadJugadores').dirty  || submitted)}">
                    <div class="row middle-xs">
                      <div class="col-xs-12 col-sm-2">
                        <label class="control-label">Numero de jugadores</label>
                      </div>
                      <div class="col-xs-12 row-flat col-sm-10">
                        <div class="row row-flat middle-xs">
                          <div class="col-xs-9 col-sm-10">
                            <input
                              type="text"
                              class="form-control input-lg"
                              id="inputcantidadJugadores"
                              placeholder="Numero de jugadores"
                              formControlName="cantidadJugadores">
                            <div class="text-danger small" *ngIf="createTournamentForm.get('cantidadJugadores').errors && (createTournamentForm.get('cantidadJugadores').dirty  || submitted)">
                              <i class="fa fa-times" aria-hidden="true"></i>
                              <span *ngIf="createTournamentForm.get('cantidadJugadores').errors['required']">Este campo es obligatorio</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input value="1" type="hidden" formControlName="idEstructura">
                  <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Torneo</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
