<div>Usuarios</div><br>
<div>
  <table>
    <thead>
      <tr>
        <td>Id Usuario</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Cedula</td>
        <td>Telefono</td>
        <td>Tipo</td>
        <td>Estado</td>
        <td></td>
      </tr>
    </thead>
    <tbody *ngIf="users">
      <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.nombre}}</td>
        <td>{{user.apellido}}</td>
        <td>{{user.cedula}}</td>
        <td>{{user.telefono}}</td>
        <td>{{user.tipo}}</td>
        <td>{{user.estado}}</td>
        <td>
          <button class="btn-sm bg-info"><a [routerLink]="['/',user.id]">Consultar</a></button>
          <button class="btn-sm bg-danger"><a [routerLink]="['/EditarUsuario',user.id]">Editar</a></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
