<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
		<div class="row middle-xs">
			<div class="col-xs-2 logo-container">
				<img src="./assets/brand/logo-declarafacil-70x70.png">
			</div>
			<div class="col-xs-10 text-right">
				<div class="row end-xs">
					<div class="col-xs-12 links-menu">
						<a routerLink="/auth/login" routerLinkActive="active" class="btn btn-default">
							<i class="fa fa-sign-in" aria-hidden="true"></i> Ingresar
						</a>
						<a  routerLink="/auth/registration" routerLinkActive="active" class="btn btn-primary">
							<i class="fa fa-user-plus" aria-hidden="true"></i> Crear Cuenta
						</a>
					</div>
				</div>
			</div>
		</div>
  </div>
</nav>
